<footer class="footer-section section bg-gray">

    <!--Footer Top start-->
    <div class="footer-top section pt-100 pt-lg-80 pt-md-70 pt-sm-60 pt-xs-50 pb-55 pb-lg-35 pb-md-25 pb-sm-15 pb-xs-10">
        <div class="container">
            <div class="row">

                <!--Footer Widget start-->
                <div class="footer-widget col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h4 class="title"><span class="text">Çalışma Saatleri</span></h4>
                    <p class="mb-15">Pazartesi 09:00 - 18:00 </p>
                    <p class="mb-15">Salı 09:00 - 18:00 </p>
                    <p class="mb-15">Çarşamba 09:00 - 18:00 </p>
                    <p class="mb-15">Perşembe 09:00 - 18:00 </p>
                    <p class="mb-15">Cuma 09:00 - 18:00 </p>
                    <p class="mb-15">Cumartesi 09:00 - 18:00  </p>
                    <p class="mb-15">Pazar Kapalı </p>
           
                </div>
                <!--Footer Widget end-->
                <!--Footer Widget start-->
                <div class="footer-widget col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h4 class="title"><span class="text">Bilgi</span></h4>
                    <ul class="ft-menu">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">İletişim</a></li>
                        <li><a href="#">Anasayfa</a></li>
                    </ul>
                </div>
                <!--Footer Widget end-->
                <!--Footer Widget start-->
                <div class="footer-widget text-lg-end text-start col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-40 mb-xs-35">
                    <h2>Yeni Çamlıca Mahallesi Sancaktepe / İstanbul</h2>
                    <p class="contact-text">info@erezsandalye.com.tr</p>
                    <p class="contact-text">0 (531) 236 52 34</p>
                </div>
                <!--Footer Widget end-->
            </div>
        </div>
    </div>
    <!--Footer Top end-->
    <!--Footer bottom start-->
    <div class="footer-bottom section">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 ft-border pt-25 pb-25">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="copyright text-start">
                                <p class="copyright">&copy; 2025 <strong>Erez Sandalye</strong> Made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by <a href="https://emircanbagdu.com.tr/"><strong>Emircan</strong></a>.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="payment-getway text-lg-end text-center">
                                <img src="./assets/images/payment.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer bottom end-->

</footer>