<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Erez Sandalye</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link href="~/nelson/assets/images/favicon.ico" type="img/x-icon" rel="shortcut icon">
    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/nelson/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/nelson/assets/css/vendor/iconfont.min.css">
    <link rel="stylesheet" href="~/nelson/assets/css/vendor/helper.css">
    <link rel="stylesheet" href="~/nelson/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/nelson/assets/css/style.css">
    <!-- Modernizr JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>