
@{
    Layout = null;
    @model List<EntityLayer.Concrete.Product>
}

<!doctype html>
<html class="no-js" lang="zxx">

@await Html.PartialAsync("HeadPartial");
<body>

    <div id="main-wrapper">

        @await Html.PartialAsync("HeaderPartial")
        
        @await Html.PartialAsync("SliderPartial")
        <!--slider section end-->
        <!-- Banner section start -->
        @await Html.PartialAsync("BannerPartial")
        <!-- Banner section End -->
        <!--Product section start-->
        @await Html.PartialAsync("ProductPartial", Model)
        <!--Product section end-->
        <!--Features section start-->
        @await Html.PartialAsync("FeatureSection")
        <!--Features section end-->
        <!-- Testimonial Area Start -->
        @await Html.PartialAsync("CompanyDescriptionPartial")
        <!-- Testimonial Area End -->
        <!--Brand section start-->
        @* <div class="brand-section section pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">
                    <div class="brand-slider section">
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-1.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-2.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-3.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-4.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-5.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-1.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-2.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-3.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-4.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                        <div class="col">
                            <!-- Single Brand Start -->
                            <div class="single-brand">
                                <div class="brand-image">
                                    <img src="~/nelson/assets/images/brands/brand-5.png" alt="">
                                </div>
                            </div>
                            <!-- Single Brand End -->
                        </div>
                    </div>
                </div>w
            </div>
        </div> *@
        <!-- Newsletter Section End -->
        <!--Footer section start-->
        @await Html.PartialAsync("FooterPartial")
        <!--Footer section end-->
        <!-- Modal Area Strat -->
        @await Html.PartialAsync("ReferencePartial")
        <!-- Modal Area End -->
    </div>
    @await Html.PartialAsync("ScriptPartial")
</body>

</html>
